# ignore everything
*

# except these files
!.gitignore
!*.java

# even if they are in subdirectories
!*/

# but ignore those files in the test directory
**/test/

# and ignore gitignore in subdirectories
**/.gitignore
